<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726909693389-1jstgh6gg32t0sh3vt2jvm5bfmv53pi1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726909693389-1jstgh6gg32t0sh3vt2jvm5bfmv53pi1</string>
	<key>API_KEY</key>
	<string>AIzaSyBlrlshgB56NY0uiWYixTdtoPH9-UxLgOo</string>
	<key>GCM_SENDER_ID</key>
	<string>726909693389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duongvu.finza</string>
	<key>PROJECT_ID</key>
	<string>finza-9253c</string>
	<key>STORAGE_BUCKET</key>
	<string>finza-9253c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726909693389:ios:d1422f2df2040b67ed6884</string>
</dict>
</plist>